.cart-dropDown-container {
 
    display: flex;
    align-items: center;
    z-index: 100;
    width: max-content;
    height: auto;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0.2rem;
    border-radius: 5px;
    color: white;
}

.cart-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    color: white;
}